<div class='social_auth'>
    <%= link_to "", omniauth_authorize_path(resource_name, 'facebook'),:class=>'social fb' %>
    <%= link_to "", omniauth_authorize_path(resource_name, 'vkontakte'),:class=>'social vk' %>
</div>