.ui-button
{
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    border:2px solid #0089bd !important;
}

.ui-button:hover
{
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

    -webkit-box-shadow: 0 0 5px #0089bd; 
    -moz-box-shadow: 0 0 5px #0089bd;
    box-shadow: 0 0 5px #0089bd;
    border:1px solid #0089bd;
}