<p>Здравствуйте, <%= @resource.name %>!</p>

<p>Для того, чтобы сбросить пароль, нажмите <%=( link_to 'Эту ссылку', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)).gsub!(/\/users/,'/#/users').html_safe %></p>

<p>Если вы не делали запрос на изменения пароля, просто не обращайте внимания на это письмо</p>
